{% extends 'base.html.twig' %}

{% block title %}Edit Outing{% endblock %}

{% block body %}
    <h1>Edit Outing</h1>

    {{ include('outing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_outing_index') }}">back to list</a>

    {{ include('outing/_delete_form.html.twig') }}
{% endblock %}
