{% extends 'base.html.twig' %}

{% block title %}New Outing{% endblock %}

{% block body %}
    <h1>Create new Outing</h1>

    {{ include('outing/_form.html.twig') }}

    <a href="{{ path('app_outing_index') }}">back to list</a>
{% endblock %}
