{% extends 'base.html.twig' %}

{% block title %}Nouvelle fiche{% endblock %}
    {% block classPage %}kid-new{% endblock %}
{% block header %}
    <h1>Nouvelle fiche</h1>
{% endblock %}
{% block body %}
    {{ include('kid/_form.html.twig') }}

    <a href="{{ path('app_kid_index') }}" class="btn margin-top">Retour à la liste</a>
{% endblock %}
